p {
    color: blanchedalmond;
    background: linear-gradient(#d364d3, #35d135);
    font-size: 25px;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 20px;
}

body {
    background-color: black;
}

h1 {
    color: blueviolet;
    background-color: aqua;
    font-size: 1em;
    border: solid 2px greenyellow;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
}

h2 {
    color: aliceblue;
    border: solid blueviolet 5px;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

ul .Testes {
    background: rgba(185, 49, 49, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

ul .Testes02 {
    color: white;
    background: linear-gradient(#e42e49, #2b0208);
    margin: 10px;
    padding: 10px;
    border: dashed 1px greenyellow;
}

ul .Testes03 {
    color: white;
}
img {
    padding: 25px;
    margin: 25px;
    width: 100px;
    height: 100px;
    border: solid 2px #35d135;
    border-radius: 20px;
    background: linear-gradient(aqua, violet, purple, blueviolet);
}